div{
    background-color: #db4437;/* bar de navigation , buttons, text titre on hover*/
    background-color: #4e5152; /*Line to separe header section*/
    background-color: #222627;/* body, preloader */
    background-color: #191c1d;/* footer */
    background-color: #0f1112; /*scrollUp*/
    background-color: #6c757d;/* link, button on hover, focus*/
    color: #a6a6a6;/*text, icon*/
    color: #ffffff;/*text on hover, focus, link navigation*/
    border-bottom: 1px solid #393c3d;/* top-header-area .breaking-news-area @media only screen and (max-width: 767px)  */
}
.single-post-area .post-content .post-meta .post-date {
    color: #595959; }