.navbar-nav>.nav-link.active {
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-width: 1px;
    display: inline-block;
    height: 35px;



}

/* .navbar-dark .navbar-nav .nav-link.active {
    color: #fc26aa;
    
} */
.breadcrumb-item+.breadcrumb-item::before {
    font-family: 'fontAwesome';
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+) !important;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: inherit;
    border-radius: .25rem;
}



@media (max-width: 767.98px) {
    .dropdown {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

